
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Header Style */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 18px 35px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 20px;
}

nav li a{
    text-decoration: none;
}

/* Shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    padding: 18px 35px;
    border: none;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
    font-weight: 400;
}

.banner-profile-pic{
    width: 580px;
}