
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Nav Styles */
nav{
    display: flex;
}

/* Shared style */
.text-primary{
    color: #FD6E0A;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}